{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": "meetnow",
  "rules": {
    "class-methods-use-this": ["error", {
      "exceptMethods": ["newSkeleton"]
    }],
    "no-use-before-define": ["error", {
      "functions": false
    }]
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  }
}
